/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2022, 11:49:13 PM
    Author     : Safi
*/

.mainbox{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: relative;
}

.buffer{
    display: flex;
    flex-direction: column;
    margin: 5px;
    z-index: 1;
    
    align-items: center;
    justify-content: center;
}

.title{
    font-family: Montserrat;
    font-size: 35px;
    z-index: 1;
}

.subtitle{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    z-index: 1;
}

.players{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    
    padding: 5px;
    width: 100%;
    
    border-right: 5px solid black;
    display: flex;
    flex-direction: column;
    
    z-index: 1;
}

.combox{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    
    padding: 10px;
    width: 100%;
    
    z-index: 1;
}

.options{
    font-family: Montserrat;
    font-size: 15px;
    
    display: flex;
    flex-direction: column;
    padding: 10px;
    
    align-items: center;
    justify-content: center;
    
    border-bottom: 2px solid black;
    
    z-index: 1;
}

.results{
    font-family: Montserrat;
    font-size: 15px;
    
    display: flex;
    padding: 5px;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    
    z-index: 1;
}

.chat{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    font-family: Montserrat;
    font-size: 10px;
    
    display: flex;
    margin: 10px;
    
    align-items: center;
    justify-content: center;
    
    z-index: 1;
}

.lables{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    
    padding: 3px;
    
    z-index: 1;
}

.sections{
    width: 130px;
    height: 30px;
    
    color: #000;

    border-width: 0 0 6px;
    border-color:#1A73E8;

    font-family:Montserrat;
    font-size: 13px;

    padding: 3px;
    font-weight: 500;
    
    z-index: 1;
}

#textarea{
    border-width: 0 0 6px;
    border-color:#1A73E8;

    font-family:Montserrat;
    font-size: 15px;
    
    z-index: 1;
}

.actions{
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 25px;
    background-color: #1A73E8;
    
    font-family: Montserrat;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    padding: 2px;
    
    width: 80px;
    height: 25px;
    
    cursor: pointer;
    transition-duration: 0.5s;
    box-shadow: 0 3px #888;
    
    z-index: 1;
}

.actions:hover{
    background-color: #0E53ff;
}

.actions:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.text_holder3{
    overflow-y:auto;
    font-size: 15px;
}

.answers{
    font-family: Montserrat;
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 10px;
    z-index: 20;
    
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #fff;
}

.answerWord{
    font-family: Montserrat;
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px solid rgba(0, 0, 0, 1);
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    text-align: center;
    
    z-index: 20;
}

.correct{
    background-color: #538d4e;
    color: #fff;
}

.halfWay{
    background-color: #b59f3b;
    color: #fff;
}

.wrong{
    background-color: #3a3a3c;
    color: #fff;
}